<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anmition_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{46,36}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{75,53},{46,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anmition_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{50,52}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{75,1},{50,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>anmition_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{72,73}</string>
			<key>textureRect</key>
			<string>{{65,138},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anmition_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{72,63}</string>
			<key>spriteSourceSize</key>
			<string>{72,75}</string>
			<key>textureRect</key>
			<string>{{1,73},{72,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anmition_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{72,70}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1,1},{72,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anmition_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,2}</string>
			<key>spriteSize</key>
			<string>{64,62}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1,138},{64,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>boom.png</string>
		<key>size</key>
		<string>{128,203}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5576b7efd236597f9e6e83d1acb65509:8994b47051c030ccc85cdf4449697d4d:c7959a2c2b0200a771aebd49497ea089$</string>
		<key>textureFileName</key>
		<string>boom.png</string>
	</dict>
</dict>
</plist>
