<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_plane_boss_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,372}</string>
                <key>spriteSourceSize</key>
                <string>{564,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_plane_boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,335}</string>
                <key>spriteSourceSize</key>
                <string>{445,335}</string>
                <key>textureRect</key>
                <string>{{567,1},{445,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_plane_boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{539,277}</string>
                <key>spriteSourceSize</key>
                <string>{543,277}</string>
                <key>textureRect</key>
                <string>{{1,375},{539,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_plane_boss_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{404,260}</string>
                <key>spriteSourceSize</key>
                <string>{408,260}</string>
                <key>textureRect</key>
                <string>{{567,338},{404,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_plane_boss_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{467,344}</string>
                <key>spriteSourceSize</key>
                <string>{473,344}</string>
                <key>textureRect</key>
                <string>{{542,600},{467,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_plane_boss_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,289}</string>
                <key>spriteSourceSize</key>
                <string>{485,289}</string>
                <key>textureRect</key>
                <string>{{1,654},{485,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>superEnermy.png</string>
            <key>size</key>
            <string>{1013,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0506c312fcf6b13f4edf612b595f5e:533025081d103e27584d0ddcbab6910a:31f9b49472459c5bcb3499d6f2e0f6b3$</string>
            <key>textureFileName</key>
            <string>superEnermy.png</string>
        </dict>
    </dict>
</plist>
