<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>img_bullet_laser_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,298}</string>
			<key>spriteSourceSize</key>
			<string>{111,298}</string>
			<key>textureRect</key>
			<string>{{1,1},{111,298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_bullet_laser_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,292}</string>
			<key>spriteSourceSize</key>
			<string>{74,292}</string>
			<key>textureRect</key>
			<string>{{114,291},{74,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_bullet_laser_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{85,288}</string>
			<key>spriteSourceSize</key>
			<string>{85,290}</string>
			<key>textureRect</key>
			<string>{{114,1},{85,288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_bullet_laser_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,285}</string>
			<key>spriteSourceSize</key>
			<string>{74,285}</string>
			<key>textureRect</key>
			<string>{{1,301},{74,285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>superEnermy.png</string>
		<key>size</key>
		<string>{200,587}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fb7c4bfe32fcc3d58eb9ca24b88ef0b2:6da5e583af454e5be5a81c867b6f4fb6:31f9b49472459c5bcb3499d6f2e0f6b3$</string>
		<key>textureFileName</key>
		<string>superEnermy.png</string>
	</dict>
</dict>
</plist>
