<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>img_plane_enemy_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{94,80}</string>
			<key>spriteSourceSize</key>
			<string>{94,86}</string>
			<key>textureRect</key>
			<string>{{343,142},{94,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_plane_enemy_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{180,139}</string>
			<key>spriteSourceSize</key>
			<string>{182,139}</string>
			<key>textureRect</key>
			<string>{{187,1},{180,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_plane_enemy_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{103,81}</string>
			<key>spriteSourceSize</key>
			<string>{103,81}</string>
			<key>textureRect</key>
			<string>{{134,142},{103,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_plane_enemy_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,139}</string>
			<key>spriteSourceSize</key>
			<string>{70,139}</string>
			<key>textureRect</key>
			<string>{{369,1},{70,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_plane_enemy_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{131,92}</string>
			<key>spriteSourceSize</key>
			<string>{131,96}</string>
			<key>textureRect</key>
			<string>{{1,132},{131,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_plane_enemy_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,129}</string>
			<key>spriteSourceSize</key>
			<string>{184,129}</string>
			<key>textureRect</key>
			<string>{{1,1},{184,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>img_plane_enemy_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{102,72}</string>
			<key>spriteSourceSize</key>
			<string>{104,78}</string>
			<key>textureRect</key>
			<string>{{239,142},{102,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>superEnermy.png</string>
		<key>size</key>
		<string>{440,225}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6f3d0f182d4661a3cad1516e53433c42:b740bdc8136b48bb9154c7d14383eeea:31f9b49472459c5bcb3499d6f2e0f6b3$</string>
		<key>textureFileName</key>
		<string>superEnermy.png</string>
	</dict>
</dict>
</plist>
